*{
    margin: 0;
    padding: 0;
}

body{
    border: 2px solid black;
    margin: 20px;
}


header{
    background-color: rgb(76, 76, 163);
    text-align: center;
    margin-bottom: 10px;
}

footer{
    background-color: rgb(76, 76, 163);
    text-align: center;
    margin-top: 15px;
}


section{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

article{
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid black ;
    margin-right: 50px;
    margin-left: 50px;
    padding: 5px;
}

article p{
    text-align: justify;
    margin: 15px 0px 5px 15px;
    font-weight: bold;
    font-size: large;

}

a {
    display: inline-block;
    text-align: justify;
    margin: -15px 0px 5px 15px;

}

img {

    flex-direction: row;
    width: 100%;
    
}
